<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template::Head"></head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>
    <div class="container">
        <h2>Customer Table</h2>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.id}">#</td>
                <td th:text="${customer.firstName}">Chandler</td>
                <td th:text="${customer.lastName}">Bing</td>
            </tr>
        </table>
<!--        <table>-->
<!--            <tr>-->
<!--                <th>ID</th>-->
<!--                <th>First Name</th>-->
<!--                <th>Last Name</th>-->
<!--            </tr>-->
<!--            <tr th:each="customer : ${customerList}">-->
<!--                <td th:text="${customer.id}">#</td>-->
<!--                <td th:text="${customer.firstName}">Chandler</td>-->
<!--                <td th:text="${customer.lastName}">Bing</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <h1 th:text="${helloMsg}">Hello World</h1>-->
        <h2>Vue says : {{ hello_message }}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#containter',
            data : {
                hello_message : 'Hello from vue'
            }
        })
    </script>
</body>
</html>